SUPABASE_URL=https://zpkddqkqyjrfogjcjpwz.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Inpwa2RkcWtxeWpyZm9namNqcHd6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzY4ODA1NTEsImV4cCI6MjA5MjQ1NjU1MX0.ORlyVRNtIr2-Y3qCrzMuveEHY71RL8UVghIlrz-OVQE
PORT=3000
